html
  head
    meta(charset='UTF-8')
    title Auth
    link(rel='stylesheet' href='./public/css/style.css')
  header(style='display: flex; align-items: center')
  .div-form 
    .profile-form 
        h1 
